In [1]:
import pandas as pd
from pathlib import Path

In [2]:
path = Path("./results/")
df = pd.concat(map(pd.read_csv, path.rglob("*.csv")), ignore_index=True)

In [3]:
df.pivot_table(
    index=["BF", "mask"], 
    values=["SIR_in", "SIR_out", "iSIR"]
).style.background_gradient(cmap='viridis', axis=0)